<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>幫組電腦的虛擬學長</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <!-- BootStraps JS-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script>window.jQuery</script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Swiper JS -->
  <script src="js/swiper.min.js"></script>
  <!-- Demo styles -->
  <style>
  </style>
</head>

<body>
  <!-- hidden-->
  <input type="hidden" id="globalcpu">
  <input type="hidden" id="globalgpu">
  <input type="hidden" id="globalram">
  <input type="hidden" id="globalssd">
  <input type="hidden" id="globalhdd">
  <!-- hidden-->
  <!-- hidden list-->
  
  <!-- hidden list-->

  <!-- chatbot -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Chatbot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe allow="microphone;" width="100%" height="500" src="https://console.dialogflow.com/api-client/demo/embedded/e9eee709-676f-4443-a533-77587c697761">
          </iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide sw01">
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
          <button type="button" class="btn btn-outline-light" id="home_build">點擊選擇你的電腦配備</button>
          <a href="/"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
          <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
          <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
          <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
            Chatbot
          </button>
        </div>

      </div>
      <div class="swiper-slide sw02">
        <div class="CPU_PAGE rounded">
          <div class="CPU_image">
            <img id="cpuimg" src="images/cpu_images/Ryzen TR2 2990WX.png">
          </div>

          <div class="cpu_select">
            <div class="input-group-btn dropright">
              <button type="button btn-secondary" class="btn dropdown-toggle" data-toggle="dropdown">
                請選擇CPU
                <span class="caret"></span>
              </button>
              <ul id="cpulist" class="dropdown-menu scrollbar1" style="height:200px;overflow:scroll">
                <% for ( var i =0 ; i< cpu_data.length ; i++ ) { %>
                <li><a>
                    <%= cpu_data[i].model %>
                  </a></li>
                <% } %>

              </ul>
            </div>

          </div>
          <button type="button" class="btn btn-outline-dark" id="cpucheck">添加到我的選擇</button>

          <div class="CPU_box">
            <div class="CPU_information">
              <ul class="list-group cpu_title">
                <li class="list-group-item" style="height:50px">廠牌</li>
                <li class="list-group-item" style="height:50px">型號</li>
                <li class="list-group-item" style="height:50px">Benchmark</li>
                <li class="list-group-item" style="height:50px">耗電</li>
                <li class="list-group-item" style="height:50px">售價</li>
              </ul>
              <ul class="list-group cpu_group">
                <li class="list-group-item" style="height:50px" id="cpubrand"></li>
                <li class="list-group-item" style="height:50px" id="cpumodel"></li>
                <li class="list-group-item" style="height:50px" id="cpubenchmark"></li>
                <li class="list-group-item" style="height:50px" id="cputdp"></li>
                <li class="list-group-item" style="height:50px" id="cpuprice"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART">RESTART</button>
          <button type="button" class="btn btn-success butt" id="CPU">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM">RAM</button>
          <button type="button" class="btn btn-secondary butt" id="LIST">LIST</button>
        </div>
      </div>
      <div class="swiper-slide sw03">
        <div class="GPU_PAGE rounded">
          <div class="GPU_image">
            <img id="gpuimg" src="images/gpu_images/GTX 1070.png" style="height:100%">
          </div>

          <div class="gpu_select">
            <div class="input-group-btn dropright">
              <button type="button btn-secondary dropdown-toggle" class="btn dropdown-toggle" data-toggle="dropdown">
                請選擇GPU
                <span class="caret"></span>
              </button>
              <ul id="gpulist" class="dropdown-menu scrollbar1" style="height:200px;overflow:scroll">
                <% for ( var i =0 ; i< gpu_data.length ; i++ ) { %>
                <li><a>
                <%= gpu_data[i].brand+" "+gpu_data[i].core+" "+gpu_data[i].memory %>
                  </a></li>
                <% } %>

               </ul>
            </div>
          </div>
          <button type="button" class="btn btn-outline-dark" id="gpu_check">添加到我的選擇</button>

          <div class="GPU_box">
            <div class="GPU_information">
              <ul class="list-group gpu_title">
                <li class="list-group-item" style="height:50px">廠牌</li>
                <li class="list-group-item" style="height:50px">型號</li>
                <li class="list-group-item" style="height:50px">顯存</li>
                <li class="list-group-item" style="height:50px">Benchmark</li>
                <li class="list-group-item" style="height:50px">耗電</li>
                <li class="list-group-item" style="height:50px">保固(年)</li>
                <li class="list-group-item" style="height:50px">售價</li>
              </ul>
              <ul class="list-group gpu_group">
                <li class="list-group-item" style="height:50px" id="gpubrand" ></li>
                <li class="list-group-item" style="height:50px" id="gpucore"></li>
                <li class="list-group-item" style="height:50px" id="gpumemory"></li>
                <li class="list-group-item" style="height:50px" id="gpubenchmark"></li>
                <li class="list-group-item" style="height:50px" id="gputdp"></li>
                <li class="list-group-item" style="height:50px" id="gpuwarranty"></li>
                <li class="list-group-item" style="height:50px" id="gpuprice"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART1">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU1">CPU</button>
          <button type="button" class="btn btn-success butt" id="GPU1">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD1">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD1">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM1">RAM</button>
          <button type="button" class="btn btn-secondary butt" id="LIST1">LIST</button>
        </div>
      </div>

      <div class="swiper-slide sw04">
        <div class="SSD_PAGE rounded">
        <div class="GPU_image">
          <img id="ssdimg" src="images/ssd.png" style="height:100%">
        </div>

          <div class="ssd_select">
          <div class="input-group-btn dropright">
          <button type="button btn-secondary dropdown-toggle" class="btn dropdown-toggle" data-toggle="dropdown">
            請選擇SSD
            <span class="caret"></span>
          </button>
          <ul id="ssdlist" class="dropdown-menu scrollbar1" style="height:200px;overflow:scroll">
            <% for ( var i =0 ; i< ssd_data.length ; i++ ) { %>
            <li><a>
            <%= ssd_data[i].brand+" "+ssd_data[i].model+" "+ssd_data[i].size %>
              </a></li>
            <% } %>

          </ul>
        </div>
          </div>
          <button type="button" class="btn btn-outline-dark" id="ssd_check">添加到我的選擇</button>

          <div class="SSD_box">
            <div class="SSD_information">
              <ul class="list-group ssd_title">
                <li class="list-group-item" style="height:50px">廠牌</li>
                <li class="list-group-item" style="height:50px">型號</li>
                <li class="list-group-item" style="height:50px">容量</li>
                <li class="list-group-item" style="height:50px">接口</li>
                <li class="list-group-item" style="height:50px">讀(M)</li>
                <li class="list-group-item" style="height:50px">寫(M)</li>
                <li class="list-group-item" style="height:50px">保固(年)</li>
                <li class="list-group-item" style="height:50px">售價:</li>
              </ul>
              <ul class="list-group ssd_group">
                <li class="list-group-item" style="height:50px" id="ssdbrand"></li>
                <li class="list-group-item" style="height:50px" id="ssdmodel"></li>
                <li class="list-group-item" style="height:50px" id="ssdsize"></li>
                <li class="list-group-item" style="height:50px" id="ssdinterface"></li>
                <li class="list-group-item" style="height:50px" id="ssdreadspeed"></li>
                <li class="list-group-item" style="height:50px" id="ssdwritespeed"></li>
                <li class="list-group-item" style="height:50px" id="ssdwarranty"></li>
                <li class="list-group-item" style="height:50px" id="ssdprice"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART2">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU2">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU2">GPU</button>
          <button type="button" class="btn btn-success butt" id="SSD2">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD2">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM2">RAM</button>
          <button type="button" class="btn btn-secondary butt" id="LIST2">LIST</button>
        </div>
      </div>

      <div class="swiper-slide sw05">
        <div class="HDD_PAGE rounded">
        <div class="GPU_image">
        <img id="hddimg" src="images/hdd.png" style="height:100%">
      </div>

          <div class="hdd_select">
          <div class="input-group-btn dropright">
          <button type="button btn-secondary dropdown-toggle" class="btn dropdown-toggle" data-toggle="dropdown">
            請選擇HDD
            <span class="caret"></span>
          </button>
          <ul id="hddlist" class="dropdown-menu scrollbar1" style="height:200px;overflow:scroll">
            <% for ( var i =0 ; i< hdd_data.length ; i++ ) { %>
            <li><a>
            <%= hdd_data[i].brand+" "+hdd_data[i].model+" "+hdd_data[i].size %>
              </a></li>
            <% } %>

           </ul>
        </div>
          </div>
          <button type="button" class="btn btn-outline-dark" id="hdd_check">添加到我的選擇</button>

          <div class="HDD_box">
            <div class="HDD_information">
              <ul class="list-group hdd_title">
                <li class="list-group-item" style="height:50px">廠牌</li>
                <li class="list-group-item" style="height:50px">型號</li>
                <li class="list-group-item" style="height:50px">容量</li>
                <li class="list-group-item" style="height:50px">快取(MB)</li>
                <li class="list-group-item" style="height:50px">轉數(RPM)</li>
                <li class="list-group-item" style="height:50px">保固(年)</li>
                <li class="list-group-item" style="height:50px">售價:</li>
              </ul>
              <ul class="list-group hdd_group">
                <li class="list-group-item" style="height:50px" id="hddbrand"></li>
                <li class="list-group-item" style="height:50px" id="hddmodel"></li>
                <li class="list-group-item" style="height:50px" id="hddsize"></li>
                <li class="list-group-item" style="height:50px" id="hddcache"></li>
                <li class="list-group-item" style="height:50px" id="hddrpm"></li>
                <li class="list-group-item" style="height:50px" id="hddwarranty"></li>
                <li class="list-group-item" style="height:50px" id="hddprice"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART3">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU3">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU3">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD3">SSD</button>
          <button type="button" class="btn btn-success butt" id="HDD3">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM3">RAM</button>
          <button type="button" class="btn btn-secondary butt" id="LIST3">LIST</button>
        </div>
      </div>

      <div class="swiper-slide sw06">
        <div class="RAM_PAGE rounded">
        <div class="GPU_image">
        <img id="ramimg" src="images/ram.png" style="height:100%">
      </div>

          <div class="ram_select">
          <div class="input-group-btn dropright">
          <button type="button btn-secondary dropdown-toggle" class="btn dropdown-toggle" data-toggle="dropdown">
            請選擇RAM
            <span class="caret"></span>
          </button>
          <ul id="ramlist" class="dropdown-menu scrollbar1" style="height:200px;overflow:scroll">
            <% for ( var i =0 ; i< ram_data.length ; i++ ) { %>
            <li><a>
            <%= ram_data[i].brand+" "+ram_data[i].size+" "+ram_data[i].frequency%>
              </a></li>
            <% } %>

           </ul>
        </div>
            
          </div>
          <button type="button" class="btn btn-outline-dark" id="ram_check">添加到我的選擇</button>

          <div class="RAM_box">
            <div class="RAM_information">
              <ul class="list-group ram_title">
                <li class="list-group-item" style="height:50px">廠牌</li>
                <li class="list-group-item" style="height:50px">容量</li>
                <li class="list-group-item" style="height:50px">世代</li>
                <li class="list-group-item" style="height:50px">頻率(Mhz)</li>
                <li class="list-group-item" style="height:50px">售價:</li>
              </ul>
              <ul class="list-group ram_group">
                <li class="list-group-item" style="height:50px" id="rambrand"></li>
                <li class="list-group-item" style="height:50px" id="ramsize"></li>
                <li class="list-group-item" style="height:50px" id="ramtype"></li>
                <li class="list-group-item" style="height:50px" id="ramfrequency"></li>
                <li class="list-group-item" style="height:50px" id="ramprice"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART4">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU4">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU4">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD4">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD4">HDD</button>
          <button type="button" class="btn btn-success butt" id="RAM4">RAM</button>
          <button type="button" class="btn btn-secondary butt" id="LIST4">LIST</button>
        </div>
      </div>

      <div class="swiper-slide sw07">
        <div class="LIST_PAGE rounded">
          <div class="list_box" style="top:5%">
            <div class="list_information">
              <ul class="list-group list_title">
                <li class="list-group-item" style="height:50px">類別</li>
                <li class="list-group-item" style="height:50px">CPU</li>
                <li class="list-group-item" style="height:50px">GPU</li>
                <li class="list-group-item" style="height:50px">SSD</li>
                <li class="list-group-item" style="height:50px">HDD</li>
                <li class="list-group-item" style="height:50px">RAM</li>
              </ul>
              <ul class="list-group list_name">
                <li class="list-group-item" style="height:50px">詳細</li>
                <li class="list-group-item" style="height:50px" id="list_cpu"></li>
                <li class="list-group-item" style="height:50px" id="list_gpu"></li>
                <li class="list-group-item" style="height:50px" id="list_ssd"></li>
                <li class="list-group-item" style="height:50px" id="list_hdd"></li>
                <li class="list-group-item" style="height:50px" id="list_ram"></li>
              </ul>
              <ul class="list-group list_price">
                <li class="list-group-item" style="height:50px" >售價</li>
                <li class="list-group-item" style="height:50px" id="price_cpu" name="price_cpu"></li>
                <li class="list-group-item" style="height:50px" id="price_gpu"></li>
                <li class="list-group-item" style="height:50px" id="price_ssd"></li>
                <li class="list-group-item" style="height:50px" id="price_hdd"></li>
                <li class="list-group-item" style="height:50px" id="price_ram"></li>

              </ul>

            </div>
          </div>
          <form action="/addlist" method="post" accept-charset="utf-8" id="allcheck">
            <div class="form-group ">
              <input type="hidden" id="hidden_cpu" name="cpu_id" placeholder="cpu_id">
              <input type="hidden" id="hidden_gpu" name="gpu_id" placeholder="gpu_id">
              <input type="hidden" id="hidden_hdd" name="hdd_id" placeholder="hdd_id">
              <input type="hidden" id="hidden_ssd" name="ssd_id" placeholder="ssd_id">
              <input type="hidden" id="hidden_ram" name="ram_id" placeholder="ram_id">

              <input name="id" id="listcode" placeholder="訂單編號">
            </div>
            <button type="submit" class="btn btn-primary ">送出訂單</button>
            <input type="button" name="delete" value="Delete" onclick="Delete('TEST')" />
          </form>
        </div>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART5">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU5">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU5">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD5">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD5">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM5">RAM</button>
          <button type="button" class="btn btn-success butt" id="LIST5">LIST</button>
        </div>
      </div>
    </div>
    <!-- 分頁器 -->
    <div class="swiper-pagination"></div>
    <!-- 箭頭 -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  </div>
  <!-- get value from ejs -->
  <script>
    var cputemp = <%-JSON.stringify(cpu_data) %>;  
    var gputemp = <%-JSON.stringify(gpu_data) %>;  
    var ramtemp = <%-JSON.stringify(ram_data) %>;  
    var ssdtemp = <%-JSON.stringify(ssd_data) %>;  
    var hddtemp = <%-JSON.stringify(hdd_data) %>;  
    var mbtemp = <%-JSON.stringify(mb_data) %>;  
  </script>


  <!-- cpu value -->
  <script>
    var cpu_sel;
    $('#cpulist li a').click(function(){
      
      //要把字串做trim才能比對
      cpu_sel = $(this).text().trim();
      
      for (var x = 0; x < 64; x++) {
        if (cputemp[x].model == cpu_sel) {
          //圖片
          document.getElementById("cpuimg").src = "images/cpu_images/" + cpu_sel + ".png";
          document.getElementById("cpumodel").innerHTML = cputemp[x].model;
          document.getElementById("cpubrand").innerHTML = cputemp[x].brand;
          document.getElementById("cpubenchmark").innerHTML = cputemp[x].benchmark;
          document.getElementById("cputdp").innerHTML = cputemp[x].TDP;
          document.getElementById("cpuprice").innerHTML = cputemp[x].price;
          document.getElementById("globalcpu").value = x;
        }
        

      }
      
    });

  </script>

  <!-- gpu value -->
  <script>
    var gpu_sel;
    var gg_temp;
    $('#gpulist li a').on('click', function () {
      gpu_sel=$(this).text().trim();
      
      for (var x = 0; x < 102; x++) {
        if (gputemp[x].brand+" "+gputemp[x].core+" "+gputemp[x].memory == gpu_sel) {
          document.getElementById("gpuimg").src = "images/gpu_images/" + gputemp[x].core + ".png";
          document.getElementById("gpucore").innerHTML = gputemp[x].core;
          document.getElementById("gpubrand").innerHTML = gputemp[x].brand;
          document.getElementById("gpumemory").innerHTML = gputemp[x].memory;
          document.getElementById("gpubenchmark").innerHTML = gputemp[x].benchmark;
          document.getElementById("gputdp").innerHTML = gputemp[x].TDP;
          document.getElementById("gpuwarranty").innerHTML = gputemp[x].warranty;
          document.getElementById("gpuprice").innerHTML = gputemp[x].price;
          document.getElementById("globalgpu").value = x;

        }
      }
    });
  </script>

  <!-- ssd value -->
  <script>
    var ssd_sel;
    var gg_temp;
    $('#ssdlist li a').on('click', function () {
      ssd_sel=$(this).text().trim();
      
      for (var x = 0; x < ssdtemp.length; x++) {
        if (ssdtemp[x].brand+" "+ssdtemp[x].model+" "+ssdtemp[x].size == ssd_sel) {
          document.getElementById("ssdbrand").innerHTML = ssdtemp[x].brand;
          document.getElementById("ssdmodel").innerHTML = ssdtemp[x].model;
          document.getElementById("ssdsize").innerHTML = ssdtemp[x].size;
          document.getElementById("ssdinterface").innerHTML = ssdtemp[x].interface;
          document.getElementById("ssdreadspeed").innerHTML = ssdtemp[x].readspeed;
          document.getElementById("ssdwritespeed").innerHTML = ssdtemp[x].writespeed;
          document.getElementById("ssdwarranty").innerHTML = ssdtemp[x].warranty;
          document.getElementById("ssdprice").innerHTML = ssdtemp[x].price;
          document.getElementById("globalssd").value = x;
        }
      }
    });
  </script>

  <!-- hdd value -->
  <script>
    var hdd_sel;
    var gg_temp;
    $('#hddlist li a').on('click', function () {
      hdd_sel=$(this).text().trim();
      
      for (var x = 0; x < hddtemp.length; x++) {
        if (hddtemp[x].brand+" "+hddtemp[x].model+" "+hddtemp[x].size == hdd_sel) {
          document.getElementById("hddbrand").innerHTML = hddtemp[x].brand;
          document.getElementById("hddmodel").innerHTML = hddtemp[x].model;
          document.getElementById("hddsize").innerHTML = hddtemp[x].size;
          document.getElementById("hddcache").innerHTML = hddtemp[x].cache;
          document.getElementById("hddrpm").innerHTML = hddtemp[x].rpm;
          document.getElementById("hddwarranty").innerHTML = hddtemp[x].warranty;
          document.getElementById("hddprice").innerHTML = hddtemp[x].price;
          document.getElementById("globalhdd").value = x;
        }
      }
    });
  </script>
  <!-- ram value -->
  <script>
    var ram_sel;
    var gg_temp;
    $('#ramlist li a').on('click', function () {
      ram_sel=$(this).text().trim();
      
      for (var x = 0; x < ramtemp.length; x++) {
        if (ramtemp[x].brand+" "+ramtemp[x].size+" "+ramtemp[x].frequency == ram_sel) {
          document.getElementById("rambrand").innerHTML = ramtemp[x].brand;
          document.getElementById("ramfrequency").innerHTML = ramtemp[x].frequency;
          document.getElementById("ramsize").innerHTML = ramtemp[x].size;
          document.getElementById("ramtype").innerHTML = ramtemp[x].type;
          document.getElementById("ramprice").innerHTML = ramtemp[x].price;
          document.getElementById("globalram").value = x;
        }
      }
    });
  </script>
  <!--list-->
  <script>
  var temp;
  $("#cpucheck").click(function () {
    temp=document.getElementById('globalcpu').value;
    document.getElementById("hidden_cpu").value=cputemp[temp].brand+" "+cputemp[temp].model;
    document.getElementById('list_cpu').innerText= cputemp[temp].brand+" "+cputemp[temp].model;
    document.getElementById('price_cpu').innerText= cputemp[temp].price;
  });
  $("#gpu_check").click(function () {
    temp=document.getElementById('globalgpu').value;
    document.getElementById("hidden_gpu").value=gputemp[temp].brand+" "+gputemp[temp].core+" "+gputemp[temp].memory;
    document.getElementById('list_gpu').innerText= gputemp[temp].brand+" "+gputemp[temp].core+" "+gputemp[temp].memory;
    document.getElementById('price_gpu').innerText= gputemp[temp].price;
  });
  $("#ssd_check").click(function () {
    temp=document.getElementById('globalssd').value;
    document.getElementById("hidden_ssd").value=ssdtemp[temp].brand+" "+ssdtemp[temp].model+" "+ssdtemp[temp].size;
    document.getElementById('list_ssd').innerText= ssdtemp[temp].brand+" "+ssdtemp[temp].model+" "+ssdtemp[temp].size;
    document.getElementById('price_ssd').innerText= ssdtemp[temp].price;
  });
  $("#hdd_check").click(function () {
    temp=document.getElementById('globalhdd').value;
    document.getElementById("hidden_hdd").value=hddtemp[temp].brand+" "+hddtemp[temp].model+" "+hddtemp[temp].size;
    document.getElementById('list_hdd').innerText= hddtemp[temp].brand+" "+hddtemp[temp].model+" "+hddtemp[temp].size;
    document.getElementById('price_hdd').innerText= hddtemp[temp].price;
  });
  $("#ram_check").click(function () {
    temp=document.getElementById('globalram').value;
    document.getElementById("hidden_ram").value=ramtemp[temp].brand+" "+ramtemp[temp].size+" "+ramtemp[temp].frequency;
    document.getElementById('list_ram').innerText= ramtemp[temp].brand+" "+ramtemp[temp].size+" "+ramtemp[temp].frequency;
    document.getElementById('price_ram').innerText= ramtemp[temp].price;
  });

  function Delete(id) {
    var rs = confirm('Confirm to delete?');
    if (rs) {
        window.location.href = "/userDelete?id=" + id;
    }
}

  </script>
 



  <!-- Initialize Swiper -->
  <script>

    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      keyboard: {
        enabled: true,
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'progressbar',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    document.querySelector('#home_build').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#RESTART').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART5').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#CPU').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU5').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#GPU').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU5').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });

    document.querySelector('#SSD').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD5').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#HDD').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD5').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#RAM').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM5').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#LIST').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(6, 0);
    });
    document.querySelector('#LIST1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(6, 0);
    });
    document.querySelector('#LIST2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(6, 0);
    });
    document.querySelector('#LIST3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(6, 0);
    });
    document.querySelector('#LIST4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(6, 0);
    });
    document.querySelector('#LIST5').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(6, 0);
    });
  </script>
</body>

</html>